body {
  background-color: lightblue;
}

.hl {
  background-color: gold; /* lime; */
  color: black;
}


mark {
  background-color: gold; /* lime; */
}

.l1collapsed, .l1expanded {
  position: relative;
  width: 97%;
  background-color: #FCF8E3;
  color: #000099; /* navy; */
  margin-bottom: 10px;
  padding: 10px 15px 1px 15px; /* top left */
  -webkit-border-radius: 3px;
  font-family: "Arial", sans-serif;
  font-size: 1.8em; 
  font-weight: bold;
}

.l2collapsed, .l2expanded {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  background-color: #3A87AD;
  color: #f2f2f2; /* #e6e6e6; */ /* #d3d3df; */ /* white; */
  font-size: 0.8em; 
}

.l3collapsed, .l3expanded {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
  padding: 3px 6px;
  -webkit-border-radius: 3px;
  background-color: #bfd9bf; /* palegreen; */
  color: #004d4d; /* darkgreen; */
  font-size: 0.8em; 
}

.l4collapsed, .l4expanded {
  position: relative;
  border: black solid thin;  /* border: 1px solid #EEDC7D; */
  margin: 3px;
  padding: 3px 6px;
  -webkit-border-radius: 3px;
}

.l2use {
  font-size: 0.5em; 
  color:yellow;
}

.contract {
  margin: 3px 0px 7px 0px;
  font-size: 0.72em;
  color: saddlebrown;
}

.contract td {
  padding: 0px 10px 0px 10px;
  border-right: 5px solid #bfd9bf;
  border-bottom: 1px solid #bfd9bf;
  -webkit-border-radius: 3px;
  background-color: lime;
}



/* orange expand/collapse button/triangle at top right of elements with children. */
.more {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid blue;
  border-top: 10px solid blue;
  border-bottom: 10px solid transparent;
  -webkit-border-radius: 3px;
}

/* level 2s */
.l1collapsed > div[data-hideable] { 
  display: none; 
}
.l1expanded > div[data-hideable] { 
  display: inline-block; 
}


/* level 3s */
.l2collapsed > div[data-hideable] { 
  display: none; 
}
.l2expanded > div[data-hideable] { 
  display: inline-block; 
}

/* level 4s */
.l2collapsed > div > div[data-hideable] { 
  display: none; 
}
.l2expanded > div > div[data-hideable] { 
  display: inline-block; 
}

/* contracts */
/*
.l3collapsed > table[data-hideable], .l4collapsed > table[data-hideable], 
.l3collapsed > table > .tr-hide,     .l4collapsed > table > .tr-hide {
  display: none;
}
.l3expanded  > table[data-hideable], .l4expanded  > table[data-hideable], 
.l3expanded  > table > .tr-hide,     .l4expanded  > table > .tr-hide {
  display: table-row;
} */

.l3collapsed > table[data-hideable], .l3collapsed .tr-hide {
  display: none;
}
.l3expanded > table[data-hideable], .l3expanded .tr-hide {
  display: table-row;
}

.l4collapsed > table[data-hideable], .l4collapsed .tr-hide {
  display: none;
}
.l4expanded > table[data-hideable], .l4expanded .tr-hide {
  display: table-row;
}

