body {
  background-color: lightblue;
}

.highlight {
  background-color: gold; /* lime; */
  color: black;
}

#outermost {
/*  width: 98%; */
  display:inline-block;
}

.l0 {
  position: relative;
  /* width: 98%; */
  background-color: #ebd4c7;
  color: #ea4800;
  margin-bottom: 15px;
  padding: 10px 10px 1px 15px; /* top right bottom left */
  -webkit-border-radius: 3px;
  font-family: "Arial", sans-serif;
  font-size: 1.8em; 
  font-weight: bold;
}

.l1 {
  position: relative;
  /*width: 98%;*/
  background-color: #FCF8E3;
  color: #000099; /* navy; */
  margin-bottom: 10px;
  padding: 10px 5px 1px 15px; /* top right bottom left */
  -webkit-border-radius: 3px;
  font-family: "Arial", sans-serif;
  font-size: 1.0em; 
  font-weight: bold;
}

.l2 {
  position: relative;
  /*width: 98%;*/
  display: block;
  margin-bottom: 10px;
  padding: 6px 5px 6px 10px; /* top right bottom left */
  -webkit-border-radius: 3px;
  background-color: #3A87AD;
  color: #f2f2f2; /* #e6e6e6; */ /* #d3d3df; */ /* white; */
  font-size: 0.8em; 
}

.l3 {
  position: relative;
  /*width: 98%;*/
  display: block;
  margin-bottom: 3px;
  padding: 3px 6px;
  -webkit-border-radius: 3px;
  background-color: #9ce59c; /* palegreen; */
  color: #004d4d; /* darkgreen; */
  font-size: 0.8em; 
}

.l4 {
  position: relative;
  /*width: 98%;*/
  display: block;
  border: black solid thin;  /* border: 1px solid #EEDC7D; */
  margin: 3px;
  padding: 3px 6px;
  -webkit-border-radius: 3px;
}

.l0comment {
  font-size: 0.6em; 
  color: red;
}

.l1comment {
  font-size: 0.6em; 
  color:blue;
}

.l2comment {
  font-size: 0.6em; 
  color:yellow;
}

.l3or4comment {
  font-size: 0.686em; 
  color:#8400d6;
}

.contListTable {
  margin: 3px 0px 7px 0px;
  font-size: 0.72em;
  color: saddlebrown;
}

.contListTable td {
  padding: 0px 10px 0px 10px;
  border-right: 5px solid #bfd9bf;
  border-bottom: 1px solid #bfd9bf;
  -webkit-border-radius: 3px;
  background-color: lime;
}



/* blue expand/collapse button/triangle at top right of elements with children. */
.expColl {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid blue;
  border-top: 10px solid blue;
  border-bottom: 10px solid transparent;
  -webkit-border-radius: 3px;
}



